# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

# Python compiled files
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist/
build/
__pycache__/

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment Variables
.env
.flaskenv

# Logs and databases
*.log
*.sqlite3

# Flask secret key
secret_key

# Cache and temporary files
*.swp
*.swo