{% extends "base.html" %}

{% block main %}
  <!-- Display Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <h1>Flask Starter Code</h1>
  <p class="lead">
    Use this starter template for your Flask apps as a way to quickly start any new project.<br>
    All you get are these files and mostly barebones HTML/CSS files.
  </p>
{% endblock %}